.containerx1 {
  display: flex;
}

.boxx1 {
  margin-left: 200px;
}

.boxx2 {
  margin-left: 100px;
}

.center_bigdata {
    display: flex;
    align-items: center;
    justify-content: center;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

nav li {
  float: left;
  position: relative;
}

nav li a {
  display: block;
  padding: 8px 12px;
  text-decoration: none;
  color: #333;
}

nav li a:hover {
  background-color: #f4f4f4;
}

/* 下拉菜单 */
nav ul ul {
  display: none; /* 初始状态下隐藏下拉菜单 */
  position: absolute;
  top: 100%;
  left: 0;
  background-color: lightblue; /* 设置下拉菜单的背景色为蓝色 */
}

nav ul li:hover > ul {
  display: inherit; /* 鼠标悬停在父级元素上显示下拉菜单 */
}

nav ul ul li {
  float: none;
  width: 100%;
  text-align: center;
}

nav ul ul a {
  padding: 8px 12px;
  color: #fff;
}

nav ul ul a:hover {
  background-color: #555;
}
