{% extends 'mother_model.html' %}

{% block bg_pic %}

{% endblock %}


{% block main %}
<div class="center_bigdata">
    <p style="font-size:40px;font-family:times new roman"><b>Contact us</b></p>
</div>


<div class="center_bigdata">
    <p style="font-family:times new roman">
        I am looking for Postdoc and Research Assistants to work together
        computational biology and bioinformatics. Please email me if interested.
    </p>
</div>
<div class="center_bigdata">
    <p>Email : easonlcheng@gmail.com</p>
</div>


{% endblock %}