{% extends 'mother_model.html' %}

{% block bg_pic %}

{% endblock %}


{% block main %}
<div class="center_bigdata">
    <p style="font-size:40px;font-family:times new roman"><b>Lab database</b></p>
</div>

<div class="containerx1">
      <div class="boxx1">
         <a href="http://www.easonlcheng.cn/EnShiftDB/interaction">
             <img src="/static/img/database1.png" alt="Your Image" width="400" height="150" >
         </a>
      </div>
    <div class="boxx2" style="width:600px">
         <p style="font-family:times new roman"><b>This database, EnShiftDB, displays the RTGPs, shifting enhancers,
             and all the relevant information for further investigation of the role of aberrant enhancers in
             carcinogenesis.</b></p>
      </div>
</div>

{% endblock %}