{% extends 'mother_model.html' %}

{% block bg_pic %}

{% endblock %}


{% block main %}
<div class="center_bigdata">
    <p style="font-size:40px"><b>The PAGE user document</b></p>
</div>

<div style="width:800px;height:300px;margin: auto;">
    <p style="font-size:25px">1. if you want to analysis your own data, please select UPLOAD DATA FOR YOURSELF.</p>
    <p style="font-size:25px">2. You can also choose to use our sample data for preliminary analysis. After you become
        familiar with the operating process, you can submit your own data for analysis.</p>
</div>


{% endblock %}