{% extends 'mother_model.html' %}

{% block bg_pic %}

{% endblock %}


{% block main %}
<div class="center_bigdata">
    <p style="font-size:40px;font-family:times new roman"><b>The PAGE user document</b></p>
</div>


<div class="center_bigdata">
    <h4><a href="#User_guide" style="font-family:times new roman">1.User guide</a></h4>
</div>
<div class="center_bigdata">
    <h4><a href="#select_feature" style="font-family:times new roman">2.SELECT feature</a></h4>
</div>
<div class="center_bigdata">
    <h4><a href="#select_model" style="font-family:times new roman">3.SELECT model</a></h4>
</div>
<div class="center_bigdata">
    <h4><a href="#run_model" style="font-family:times new roman">4.run model</a></h4>
</div>

<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>

<div style="width:800px;height:300px;margin: auto;">
    <p id="User_guide">user guide</p>
    <p style="font-size:25px">1. if you want to analysis your own data, please select UPLOAD DATA FOR YOURSELF.</p>
    <p style="font-size:25px">2. You can also choose to use our sample data for preliminary analysis. After you become
        familiar with the operating process, you can submit your own data for analysis.</p>
</div>
<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
<div style="width:800px;height:300px;margin: auto;">
    <p id="select_feature">SELECT feature</p>
    <p style="font-size:25px">1. if you want to analysis your own data, please select UPLOAD DATA FOR YOURSELF.</p>
    <p style="font-size:25px">2. You can also choose to use our sample data for preliminary analysis. After you become
        familiar with the operating process, you can submit your own data for analysis.</p>
</div>
<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
<div style="width:800px;height:300px;margin: auto;">
    <p id="select_model">SELECT model</p>
    <p style="font-size:25px">1. if you want to analysis your own data, please select UPLOAD DATA FOR YOURSELF.</p>
    <p style="font-size:25px">2. You can also choose to use our sample data for preliminary analysis. After you become
        familiar with the operating process, you can submit your own data for analysis.</p>
</div>
<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
<div style="width:800px;height:300px;margin: auto;">
    <p id="run_model">run model</p>
    <p style="font-size:25px">1. if you want to analysis your own data, please select UPLOAD DATA FOR YOURSELF.</p>
    <p style="font-size:25px">2. You can also choose to use our sample data for preliminary analysis. After you become
        familiar with the operating process, you can submit your own data for analysis.</p>
</div>

{% endblock %}