<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>IPAGE Data Analysis Cloud platform</title>
        <link rel="icon" type="image/x-icon" href="/static/assets/favicon.ico" />
        <link href="/static/css/1.css" rel="stylesheet" />
        <script src="/static/plugins/bootstrap-3.4.1/js/boot-uploadprogess.js"></script>
        <script src="https://cdn.bootcdn.net/ajax/libs/echarts/5.1.2/echarts.min.js"></script>


    </head>

    <body>
      <!-- 导航栏 -->
  <nav class="navbar">
      <a href="/"><font size="5"><b>IPAGE Data Analysis Cloud platform</b></font></a>
      <div class="navbar-right">
      <a href="/">Introduce</a>
      <a href="/document">Documention</a>
      <a href="/upload">Analysis</a>
      <a href="/contact">Contact</a>
      </div>
  </nav>
        {% block bg_pic %}{% endblock %}
        {% block main %}{% endblock %}
    </body>
</html>