{% extends 'mother_model.html' %}

{% block bg_pic %}

{% endblock %}


{% block main %}
<div class="center_bigdata">
    <p style="font-size:40px;font-family:Times new roman"><b>IPAGE Data Analysis Cloud platform</b></p>
</div>

<div style="width:800px;margin: auto;line-height:8px;">
    <p style="font-size:30px;font-family:Times new roman">1.select feature </p>
</div>
<div style="width:1000px;height:490px;border: 3px dashed black; padding: 10px;margin: auto;">
    <select>
        <option value="option1">choose data</option>
        <option value="option2">GSE000001</option>
        <option value="option3">GSE000002</option>
        <option value="option4">GSE000003</option>
        <option value="option5">GSE000004</option>
    </select>
</div>


<div style="width:800px;margin: auto;">
    <p style="font-size:30px;font-family:Times new roman">2.Run model</p>
</div>
<div style="width:1000px;height:490px;border: 3px dashed black; padding: 10px;margin: auto;">
    <select>
      <option value="option1">choose model</option>
      <option value="option2">SVM</option>
      <option value="option3">RF</option>
        <option value="option4">LASSO</option>
        <option value="option5">XGBoost</option>
    </select>
    <button>run model</button>
</div>
<br><br><br><br>
{% endblock %}